asgiref==3.5.2
BareNecessities==0.2.8
Brotli==1.0.9
cffi==1.15.1
cssselect2==0.6.0
Django==4.0.6
django-environ==0.9.0
django-mail-auth-backend==0.0.5
django-mathfilters==1.0.0
django-widget-tweaks==1.4.12
fonttools==4.34.4
html5lib==1.1
Mail==2.1.0
numpy==1.23.0
pandas==1.4.3
Pillow==9.2.0
psycopg2-binary==2.9.3
pycparser==2.21
pydyf==0.2.0
pyphen==0.12.0
python-dateutil==2.8.2
pytz==2022.1
shortuuid==1.0.9
six==1.16.0
smtp-mail==0.0.2
sqlparse==0.4.2
tinycss2==1.1.1
weasyprint==56.1
webencodings==0.5.1
zopfli==0.2.1
