asgiref==3.5.2
BareNecessities==0.2.8
Django==4.0.6
django-environ==0.9.0
django-mail-auth-backend==0.0.5
django-mathfilters==1.0.0
django-widget-tweaks==1.4.12
Mail==2.1.0
numpy==1.23.0
pandas==1.4.3
psycopg2-binary==2.9.3
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
smtp-mail==0.0.2
sqlparse==0.4.2
